<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homebanking | Home</title>

   
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <link rel="stylesheet" href="../styles/toastify.css">
    <link rel="stylesheet" href="../styles/accounts.css">


</head>
<body>
<div id="app">
        <header>
            
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="../images/Logo_Banco.png" alt="logo" id="logoBank"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
<!--                             <li class="nav-item">
                                <a class="nav-link" href="./index.html">Home</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="./transfer.html">Transfers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./news.html">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">Cards</a>
                            </li>
                            <li class="nav-item  ms-3">
                                <a @click="logOut()" class="nav-link paddingIcon" href="#">
                                  <i class="fas fa-power-off fa-2x"></i> Log Out
                                </a>
                            </li>
                              
                        </ul>
                    </div>
                </div>
            </nav>
            
        </header>
        <main>
          <div class="container">
            <div class="row">
              <!-- Columna Izquierda - Cuentas -->
              <div class="col-lg-6">
                <div v-cloak class="d-flex flex-column flex-wrap justify-content-around col-12">
                  <!-- BOTON PARA CREAR CUENTAS --> <!--  v-if="accounts.length < 3" @click="crearAccount()" -->
                  <div v-if="accounts.length < 3" v-cloak class="d-grid gap-2 col-12 d-flex align-items-center justify-content-center">
                    <a href="create-account.html" class="btn btn-secondary mt-5">Create Account</a>
                  </div>
                 
                  <div class="row row-cols-1 row-cols-md-2 g-4 mt-3" v-for="acc of accountsNotHidden">
                    <div class="col w-100">
                      <div class="card h-100">
                        <div class="card-body">
         <!--                  <h5 class="card-title">Account Of: {{ clients.firstName }} {{ clients.lastName }}</h5>
                          <div class="mb-3">
                            <span class="text-secondary">E-mail: </span>
                            <span v-cloak class="text-secondary">{{ clients.email }}</span>
                          </div> -->
                          <p class="text-secondary">Details of Account:</p>
                          <ul class="list-unstyled">
                            <li :key="acc.number" class="mb-3">
                              <strong class="text-secondary">Type of Account:</strong> {{ acc.accountType }}<br>
                              <strong class="text-secondary">Account:</strong> {{ acc.number }}<br>
                              <strong class="text-secondary">Created:</strong> {{ acc.creationDate }}<br>
                              <strong class="text-secondary">Balance:</strong> {{ acc.balance.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ',') }}
                              <a v-cloak :href="'../web/account.html?id='+acc.id" class="btn btn-secondary btn-sm btn-block btn-card mt-4">Details Of Transfer</a>
                              <a v-cloak :href="'../web/disable-account.html?id='+acc.id" class="btn btn-secondary btn-sm btn-block btn-card mt-4">Disable Account</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- Columna Derecha - Préstamos -->
              <div class="col-lg-6">
                <div v-cloak class="d-flex flex-column flex-wrap col-12">
                  <!-- BOTON PARA SOLICITAR PRESTAMO -->
                  <div class="d-grid gap-2 col-6 mx-auto align-self-center">
                    <a href="./loan-aplication.html" class="btn btn-secondary mt-5">Loan Application</a>
                  </div>
                </div>
        
                <!-- TABLA DE PRESTAMOS -->
                <table v-cloak class="table table-dark table-hover table-bordered table-responsive mt-5" id="table">
                  <thead>
                    <tr>
                      <th v-cloak class="title-cell" colspan="5">Loans of: {{ clients.firstName }} {{ clients.lastName }}</th>
                    </tr>
                    <tr>
            
                      <th>Name</th>
<!--                       <th>Amount of loan</th> -->
                      <th>Amount whit Interest</th>
                      <th>Payments</th>
                      <th>Pay Loan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-cloak v-for="loan of loans">
                      <th v-cloak scope="col">{{ loan.name }}</th>
<!--                       <th v-cloak scope="col">{{ loan.name }}</th> -->
                      <th v-cloak scope="col">${{ loan.remainingAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ',')  }}</th> <!-- Este tiene Interes -->
                      <th v-cloak scope="col">{{ loan.remainingPayments }}</th>
                      <th><a class="text-success no-underline" :href="'../web/pay-loan.html?id='+loan.id">Pay</a></th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        
            <!-- FORMULARIO DE DIVISA -->
            <div v-cloak class="d-flex justify-content-center col-12">
              <form v-cloak id="formulario" class="d-flex flex-column justify-content-between mt-4 col-8">
                <div v-cloak class="form-group">
                  <label for="cantidad-pesos" id="labelFormDolar">Dollar amount:</label>
                  <input type="text" class="form-control" id="cantidad-pesos" placeholder="Enter amount of dollars">
                </div>
                <div v-cloak class="form-group">
                  <label for="tipo-cambio" id="labelFormDolar">Exchange rate: Official Dollar</label>
                  <input type="text" class="form-control" id="tipo-cambio" v-model="dolarOficial" readonly>
                </div>
                <div v-cloak class="form-group">
                  <label for="cantidad-dolares" id="labelFormDolar">Amount of Argentine pesos:</label>
                  <input type="text" class="form-control" id="cantidad-dolares" placeholder="Resultado" readonly>
                </div>
                <button v-cloak type="submit" id="calcular" class="btn btn-secondary mt-4">Calcular</button>
              </form>
            </div>
        
            <!-- MODAL DE CONFIRMACION -->
            <div v-cloak v-if="showConfirmation" class="confirmation-message mt-3">
              <p>¿Estás seguro de que deseas continuar?</p>
              <div class="btn-wrapper">
                  <button v-cloak @click="confirmCreateCard" class="btn confirm-btn">Confirmar</button>
                  <button v-cloak @click="cancelCreateCard" class="btn cancel-btn">Cancelar</button>
              </div>
            </div>
            
          </div>
        </main>
        
          
</div>        
        <footer class="mt-5">
            <div class="container">
            <div class="row">
                <div class="col text-center">
                <h4>Síguenos en nuestras redes sociales</h4>
                <p>
                    <a href="https://www.facebook.com/" target="_blank">
                    <img id="iconSocial" src="../images/icono_Facebook.png" alt="Facebook" class="social-icons">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                    <img id="iconSocial" src="../images/icono_Instagram.png" alt="Instagram" class="social-icons">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank">
                    <img id="iconSocial" src="../images/icono_Whatsapp.png" alt="WhatsApp" class="social-icons">
                    </a>
                </p>              
                <p>All rights reserved  &copy; 2023 HomeBanking</p>
                </div>
            </div>
            </div>
        </footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../javascript/accounts.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
