<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homebanking | Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../styles/account.css">
    <link rel="stylesheet" href="../styles/toastify.css">
    
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../images/Logo_Banco.png" alt="logo" id="logoBank"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./transfer.html">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./news.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./cards.html">Cards</a>
                        </li>
                        <li class="nav-item  ms-3">
                            <a @click="logOut()" class="nav-link paddingIcon" href="#">
                                <i class="fas fa-power-off fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div v-cloak class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Details of Account</h2>
                    <p v-cloak>
                        <strong>Balance:</strong> {{data.balance}}
                    </p>
                    <p v-cloak>
                        <strong>Creation date:</strong> {{data.creationDate}}
                    </p>
                    <p v-cloak>
                        <strong>Number of Transactions made:</strong> {{data.transaction.length}}
                    </p>
                    <p v-cloak>
                        <strong>Account Number:</strong> {{data.number}}
                    </p>
                </div>
            </div>
            <!-- ----------------------------  FILTRO  --------------------------- -->
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Filter and Print transactions</h2>
                    <div class="filter-container">
                        <input type="datetime-local" v-model="dateWhitAccount.dateStart" id="fechaInicio">
                        <input type="datetime-local" v-model="dateWhitAccount.dateEnd" id="fechaFin">
                        <button class="btn btn-success filter-btn" @click="print()">Print</button>
                    </div>
                </div>
            </div>
         <!--    {{dateWhitAccount}} -->
            <!-- ----------------------------  TABLA  --------------------------- -->
            <div v-cloak class="d-flex justify-content-center mt-3" v-if="data.hidden == false">
               
                <div class="table-responsive">
                    <h1 class="d-flex justify-content-center">Details of Transactions</h1>
                   <table class="table dark-table table-hover table-bordered table-responsive mt-5" id="table">
                    <thead>
                        <tr scope="col">
                            <th colspan="5" scope="col" style="text-align: center;">Transactions</th>
                        </tr>
                        <tr v-cloak >
                            <th v-cloak  scope="col">Type</th>
                            <th  v-cloak scope="col">Amount</th>
                            <th  v-cloak  scope="col">Description</th>
                            <th  v-cloak  scope="col">Date</th>
                            <th v-cloak scope="col">Time Of Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows for transactions -->
                        <tr v-for="transact of transaction">
                            <td v-if="transact.type == 'CREDIT'" class="text-success">{{transact.type}}</td>
                            <td v-if="transact.type == 'DEBIT'" class="text-danger">{{transact.type}}</td>
                            <td>${{ (transact.amount.toFixed(2)).replace(/\B(?=(\d{3})+(?!\d))/g, ',') }}</td>
                            <td>{{transact.description}}</td>
                            <td>{{transact.date.slice(length, -16).replace('T',' ')}}</td>
                            <td>{{ transact.date.slice(11, 19) }}</td>
                        </tr>
                    </tbody>
                </table>
                
                </div>
            </div>
        </div>


         <!-- MODAL DE CONFIRMACION -->
         <div v-cloak v-if="showConfirmation" class="confirmation-message mt-3">
            <p>¿Estás seguro de que deseas continuar?</p>
            <div class="btn-wrapper">
                <button v-cloak @click="confirmPrint" class="btn confirm-btn">Confirmar</button>
                <button v-cloak @click="cancelPrint" class="btn cancel-btn">Cancelar</button>
            </div>
          </div>
    </main>
    <footer class="mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center d-flex justify-content-between">
              <div>
                <h4>Follow us on social media</h4>
                <p>
                  <a href="https://www.facebook.com/" target="_blank">
                    <img src="../images/icono_Facebook.png" alt="Facebook" class="social-icons">
                  </a>
                  <a href="https://www.instagram.com/" target="_blank">
                    <img src="../images/icono_Instagram.png" alt="Instagram" class="social-icons">
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank">
                    <img src="../images/icono_Whatsapp.png" alt="WhatsApp" class="social-icons">
                  </a>
                </p>
              </div>
              <div class="text-center align-self-center">
                <p class="rights-reserved">All rights reserved &copy; 2023 HomeBanking</p>
              </div>
              <div>
                <p>Contact us: <a href="mailto:info@homebanking.com">info@homebanking.com</a></p>
                <p>Phone: +1 (123) 456-7890</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../javascript/account.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</div>
</body>
</html>
