<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homebanking | Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/cards.css">
</head>
<body id="app">
    <header>
            
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../images/Logo_Banco.png" alt="logo" id="logoBank"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
<!--                             <li class="nav-item">
                            <a class="nav-link" href="./index.html">Home</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="./aboutUs.html">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./news.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cards</a>
                        </li>
                        <li class="nav-item paddingIcon ms-3">
                            <a @Click="logOut()" class="nav-link paddingIcon" href="#">
                              <i class="fas fa-power-off fa-2x paddingIcon"></i> Log Out
                            </a>
                        </li>
                    </ul>
<!--                             <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-person-circle"></i> <img src="../images/guille_Con_Anteojos.png" alt="Imagen de perfil" id="iconPerfil">
                            </a>
                        </li> -->

                </div>
            </div>
        </nav>
        
    </header>
<main>
<!--     GOLD,
    SILVER,
    TITANIUM -->
    <div class="d-grid gap-2 col-3 mx-auto"> 
        <a href="./create-cards.html" class="btn btn-secondary mt-5">Create Cards</a>
    </div>
    <section  v-for="card of cards">
        <h2>{{card.type}}</h2>
        <div class="card d-flex justify-content-center"  v-if="card.color =='GOLD'">
            <div class="card-inner">
                <div class=" front"   style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <div class="d-flex align-items-center justify-content-between row">
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                    </div>
                    <div  class="d-flex align-items-center justify-content-between card-no">
                        <p class="numerosCard">{{card.number}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between card-holder ">
                        <p>CARD HOLDER</p>
                        <p>VALID TILL</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between name">
                        <p>{{card.cardHolder}}</p>
                        <p>{{card.thruDate}}</p>
                    </div>
                </div>
                <div class="back" style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                    <div class="bar"></div>
                    <div class="d-flex justify-content-between card-cvv">
                        <div >
                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                        </div>
                        <p>{{card.ccv}}</p>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                    </div>
                    <div class="d-flex justify-content-between ">
<!--                         <div class="d-flex align-items-center ">
                            <p>VALID TILL</p>
                            <p>10 / 25</p>
                        </div> -->
                        <div class="d-flex flex-column">       
                            <p>Issued in</p>
                            <p>{{card.fromDate}}</p>
                        </div>

                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                    </div>
                </div>
            </div>
        </div>


        <div class="card d-flex justify-content-center"  v-if="card.color =='TITANIUM'">
            <div class="card-inner">
                <div class=" front"   style="background-image: linear-gradient(45deg, #000000c5, #030303);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <div class="d-flex align-items-center justify-content-between row">
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                    </div>
                    <div  class="d-flex align-items-center justify-content-between card-no">
                        <p class="numerosCard">{{card.number}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between card-holder ">
                        <p>CARD HOLDER</p>
                        <p>VALID TILL</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between name">
                        <p>{{card.cardHolder}}</p>
                        <p>{{card.thruDate}}</p>
                    </div>
                </div>
                <div class="back" style="background-image: linear-gradient(45deg, #252522c5, #bba1a1);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                    <div class="bar"></div>
                    <div class="d-flex justify-content-between card-cvv">
                        <div >
                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                        </div>
                        <p>{{card.ccv}}</p>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                    </div>
                    <div class="d-flex justify-content-between ">
<!--                         <div class="d-flex align-items-center ">
                            <p>VALID TILL</p>
                            <p>10 / 25</p>
                        </div> -->
                        <div class="d-flex flex-column">       
                            <p>Issued in</p>
                            <p>{{card.fromDate}}</p>
                        </div>

                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                    </div>
                </div>
            </div>
        </div>



        <div class="card d-flex justify-content-center"  v-if="card.color =='SILVER'">
            <div class="card-inner">
                <div class=" front"   style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <div class="d-flex align-items-center justify-content-between row">
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                    </div>
                    <div  class="d-flex align-items-center justify-content-between card-no">
                        <p class="numerosCard">{{card.number}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between card-holder ">
                        <p>CARD HOLDER</p>
                        <p>VALID TILL</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between name">
                        <p>{{card.cardHolder}}</p>
                        <p>{{card.thruDate}}</p>
                    </div>
                </div>
                <div class="back" style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                    <div class="bar"></div>
                    <div class="d-flex justify-content-between card-cvv">
                        <div >
                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                        </div>
                        <p>{{card.ccv}}</p>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                    </div>
                    <div class="d-flex justify-content-between ">
<!--                         <div class="d-flex align-items-center ">
                            <p>VALID TILL</p>
                            <p>10 / 25</p>
                        </div> -->
                        <div class="d-flex flex-column">       
                            <p>Issued in</p>
                            <p>{{card.fromDate}}</p>
                        </div>

                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <footer class="mt-5">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h4>Síguenos en nuestras redes sociales</h4>
              <p>
                <a href="https://www.facebook.com/" target="_blank">
                  <img id="iconSocial" src="../images/icono_Facebook.png" alt="Facebook" class="social-icons">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <img id="iconSocial" src="../images/icono_Instagram.png" alt="Instagram" class="social-icons">
                </a>
                <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank">
                  <img id="iconSocial" src="../images/icono_Whatsapp.png" alt="WhatsApp" class="social-icons">
                </a>
              </p>              
              <p>All rights reserved  &copy; 2023 HomeBanking</p>
            </div>
          </div>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../javascript/cards.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>