<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homebanking | Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/cards.css">
</head>
<body id="app">
    <header>
            
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../images/Logo_Banco.png" alt="logo" id="logoBank"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
<!--                             <li class="nav-item">
                            <a class="nav-link" href="./index.html">Home</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="./transfer.html">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./news.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cards</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a @Click="logOut()" class="nav-link paddingIcon" href="#">
                              <i class="fas fa-power-off fa-2x"></i>
                            </a>
                        </li>
                    </ul>
<!--                             <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-person-circle"></i> <img src="../images/guille_Con_Anteojos.png" alt="Imagen de perfil" id="iconPerfil">
                            </a>
                        </li> -->

                </div>
            </div>
        </nav>
        
    </header>
<main>
<!--     GOLD,
    SILVER,
    TITANIUM -->
    <div v-cloak class="d-grid gap-2 col-3 mx-auto"> 
        <a v-cloak href="./create-cards.html" class="btn btn-success col-6 mt-5 mx-auto">Create Cards</a>
    </div>
    

        <div v-cloak class="container bg-info mt-3 mb-3">
            <div class="row ">
            <div  v-for="card of cardStatus" class="col-md-6 d-flex justify-content-center align-items-center">
                <!-- Debit cards -->
                <div v-if="card.type === 'DEBIT'">
                    <div  v-if="(card.color === 'GOLD' && !card.hidden)"  :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class=" d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                        
                        <div v-cloak class="card d-flex justify-content-center" >
                            <div class="card-inner">
                                <div class=" front"   style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                <!--                         <div class="d-flex align-items-center ">
                                            <p>VALID TILL</p>
                                            <p>10 / 25</p>
                                        </div> -->
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>
                    
                    <div  v-if="(card.color === 'TITANIUM' && !card.hidden)" :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class="d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                       
                        <div v-cloak class="card d-flex justify-content-center">
                            <div class="card-inner">
                                <div class=" front"   style="background-image: linear-gradient(45deg, #000000c5, #030303);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #000000c5, #030303);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                <!--                         <div class="d-flex align-items-center ">
                                            <p>VALID TILL</p>
                                            <p>10 / 25</p>
                                        </div> -->
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>

                    <div v-if="(card.color === 'SILVER' && !card.hidden)"  :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class="d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                        
                        <div v-cloak class="card d-flex justify-content-center">
                            <div class="card-inner">   
                                <div class=" front"   style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                <!--                         <div class="d-flex align-items-center ">
                                            <p>VALID TILL</p>
                                            <p>10 / 25</p>
                                        </div> -->
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>
                </div>
        
                <!-- Credit cards -->
                <div v-if="card.type === 'CREDIT'">
                    <div  v-if="(card.color === 'GOLD' && !card.hidden)"  :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class="d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                        
                        <div v-cloak class="card d-flex justify-content-center" >
                            <div class="card-inner">
                                <div class=" front"   style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #ccf80ac5, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                <!--                         <div class="d-flex align-items-center ">
                                            <p>VALID TILL</p>
                                            <p>10 / 25</p>
                                        </div> -->
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>
                    
                    <div  v-if="(card.color === 'TITANIUM' && !card.hidden)"  :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class="d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                        
                        <div v-cloak class="card d-flex justify-content-center">
                            <div class="card-inner">
                                <div class=" front"   style="background-image: linear-gradient(45deg, #000000c5, #030303);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #000000c5, #030303);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                <!--                         <div class="d-flex align-items-center ">
                                            <p>VALID TILL</p>
                                            <p>10 / 25</p>
                                        </div> -->
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>

                    <div v-if="(card.color === 'SILVER' && !card.hidden)"  :class="{ 'expirated': card.status === 'expirated' }">
                        <h2 class="d-flex justify-content-center" v-cloak>{{card.type}}</h2>
                        
                        <div v-cloak class="card d-flex justify-content-center">
                            <div class="card-inner">   
                                <div class=" front"   style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                    <div class="d-flex align-items-center justify-content-between row">
                                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px" class="imgCard">
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px" class="imgCard">
                                    </div>
                                    <div  class="d-flex align-items-center justify-content-between card-no">
                                        <p class="numerosCard">{{card.number}}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between card-holder ">
                                        <p>CARD HOLDER</p>
                                        <p>VALID TILL</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between name">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back" style="background-image: linear-gradient(45deg, #8c8d8523, #080808);">
                                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" >
                                    <div class="bar"></div>
                                    <div class="d-flex justify-content-between card-cvv">
                                        <div >
                                            <img src="https://i.ibb.co/S6JG8px/pattern.png" class="imgBarraBack">
                                        </div>
                                        <p>{{card.ccv}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <div class="d-flex flex-column">       
                                            <p>Issued in</p>
                                            <p>{{card.fromDate}}</p>
                                        </div>
                
                                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a v-cloak :href="'../web/disable-card.html?id='+card.id" class="d-flex justify-content-center mx-auto col-6 btn btn-danger btn-sm btn-block btn-card mt-4">Disable Card</a>
                    </div>
                </div>
            </div>
            </div>
        </div>





</main>


<footer class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-between">
          <div>
            <h4>Follow us on social media</h4>
            <p>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="../images/icono_Facebook.png" alt="Facebook" class="social-icons">
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="../images/icono_Instagram.png" alt="Instagram" class="social-icons">
              </a>
              <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank">
                <img src="../images/icono_Whatsapp.png" alt="WhatsApp" class="social-icons">
              </a>
            </p>
          </div>
          <div class="text-center align-self-center">
            <p class="rights-reserved">All rights reserved &copy; 2023 HomeBanking</p>
          </div>
          <div>
            <p>Contact us: <a href="mailto:info@homebanking.com">info@homebanking.com</a></p>
            <p>Phone: +1 (123) 456-7890</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../javascript/cards.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>