<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../styles/create-account.css">
    <link rel="stylesheet" href="../styles/toastify.css">
</head>
<body>
<div id="app">
        <header>
            
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="../images/Logo_Banco.png" alt="logo" id="logoBank"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
<!--                             <li class="nav-item">
                                <a class="nav-link" href="./index.html">Home</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="./transfer.html">Transfers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./news.html">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">Cards</a>
                            </li>
                            <li class="nav-item ms-3">
                                <a @click="logOut()" class="nav-link paddingIcon" href="#">
                                  <i class="fas fa-power-off fa-2x"></i>
                                </a>
                            </li>
                              
                        </ul>
<!--                             <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-person-circle"></i> <img src="../images/guille_Con_Anteojos.png" alt="Imagen de perfil" id="iconPerfil">
                                </a>
                            </li> -->

                    </div>
                </div>
            </nav>
            
        </header>
        <main>
            <!-- v-if="acc.id == params && acc.hidden === false" -->
            <div class="container py-5">
                <h1 class="text-center mb-4">Create Account</h1>
            
                <div class="row mt-1">
                    <!-- Account Information -->
                    <div class="col-md-6 mt-3 ">
                        <div class="card h-100 form-container">
                            <div class="card-body ">
                                <h5 class="card-title">Example of Account: {{ clients.firstName }} {{ clients.lastName }}</h5>
                                <div class="mb-3">
                                    <span class="text-secondary">E-mail: </span>
                                    <span v-cloak class="text-secondary">{{ clients.email }}</span>
                                </div>
                                <p class="text-secondary">Details of Account:</p>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <strong class="text-secondary">Type of Account:</strong>{{accountType}}<br>
                                        <strong class="text-secondary">Account:</strong> VIN-XXXXXXXX<br>
                                        <strong class="text-secondary">Created:</strong> Year-Month-Day</span><br>
                                        <strong class="text-secondary">Balance:</strong> 0.0
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <!-- Account Creation Form -->
                    <div class="col-md-6 mt-3">
                        <div v-cloak class="card mb-3 form-container">
                            <div class="card-body py-5 px-md-5">
                                <form v-cloak @submit.prevent="createAccount">
                                    <div class="form-group">
                                        <label class="form-label text-secondary" for="payment-type"><strong>Select Account Type:</strong></label>
                                    </div>
                    
                                    <div class="form-group">
                                        <label class="form-label text-secondary" for="account-type">Account Types:</label>
                                        <select v-cloak v-model="accountType" class="form-select form-control-strong-shadow " id="account-type" name="account-type">
                                            <option value="CURRENT">Current account</option>
                                            <option value="SAVINGS">Savings account</option>
                                        </select>
                                    </div>
                    
                                    <input type="submit" value="Enviar" class="btn btn-success col-6 d-block mx-auto">
                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
<!--             
                <div class="d-grid col-12 mt-4">
                    <button v-cloak @click="disableAccount()" class="btn btn-secondary col-4">Create Account</button>
                </div>
             -->
                <div v-cloak v-if="showConfirmation" class="confirmation-message mt-3">
                    <p>¿Estás seguro de que deseas continuar?</p>
                    <div class="btn-wrapper">
                        <button v-cloak @click="confirmCreateAccount" class="btn confirm-btn">Confirmar</button>
                        <button v-cloak @click="cancelCreateAccount" class="btn cancel-btn">Cancelar</button>
                    </div>
                </div>
            </div>
            
        </main>
        
</div>
<footer class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-between">
          <div>
            <h4>Follow us on social media</h4>
            <p>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="../images/icono_Facebook.png" alt="Facebook" class="social-icons">
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="../images/icono_Instagram.png" alt="Instagram" class="social-icons">
              </a>
              <a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank">
                <img src="../images/icono_Whatsapp.png" alt="WhatsApp" class="social-icons">
              </a>
            </p>
          </div>
          <div class="text-center align-self-center">
            <p class="rights-reserved">All rights reserved &copy; 2023 HomeBanking</p>
          </div>
          <div>
            <p>Contact us: <a href="mailto:info@homebanking.com">info@homebanking.com</a></p>
            <p>Phone: +1 (123) 456-7890</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../javascript/create-account.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>