main{
  min-height: 20rem!important;
}
  header{
    min-height: 15vh!important;
  }
  footer {
    background-color: #1c1c1c!important;
    color: #45f3ff!important;
    padding: 20px 0!important;
  }
  .social-icons {
    font-size: 20px!important;
    margin-right: 10px!important;
  }
  .paddingIcon {
    padding: 0px;
    padding-top: 2px;
    background-color: #6c757d;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .paddingIcon:hover {
    background-color: #848484;
  }
  
  #iconSocial{
    height: 30px!important;
    width: 30px!important;
  }
  
  footer p {
    margin-bottom: 10px!important;
  }
  
  #divFooter{
    background: #23242a!important;
  }
  #articleCard {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: #1c1c1c;
    /*#333333*/
    /*#1c1c1c*/
    color: #f0f0f0;
  }
  
  #articleCard:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  #FondoPerfil{
    background-image: url("../images/bandera_Argentina.avif");
    object-fit: cover;
    height: 180px!important;
    background-position: center left;
    opacity: 0.8;
    background-repeat: no-repeat!important;
  }
  
  #iconPerfil{
    height: 50px!important;
    object-fit: contain!important;
    border-radius:50px!important;
  }
  #imgPerfil{
    height: 130px!important;
    border-radius:130px!important;
  }
  
  #detallesCuenta{
    color: #45f3ff!important;
  }
  
  .navbar {
    background-color: #1c1c1c!important;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #45f3ff!important;
  }
  
  #logoBank{
    height: 100px!important;
  }

  #table{
    margin-top: 2rem;
    background-color:  #1c1c1c!important;
  }


  .tr, th, td{
    background-color:  #1c1c1c!important;
  }

  [v-cloak] {
    display: none;
    }
    

    .filter-container {
      display: flex;
      justify-content: space-around;
      margin: 20px;
  }

  .filter-container input {
      width: 150px;
  }

  .filter-btn {
      margin-top: 10px;
  }