body {
  min-height: 70vh;
/*   background: #23242a; */
}

header {
  min-height: 15vh;
}

footer {
  background-color: #1c1c1c;
  color: #45f3ff;
  padding: 20px 0;
}

#formulario {
  background-color: #1c1c1c;
  padding: 1rem;
  height: 55vh;
}

#labelFormDolar {
  color: #45f3ff;
}

.social-icons {
  font-size: 20px;
  margin-right: 10px;
}

#iconSocial {
  height: 30px;
  width: 30px;
}

footer p {
  margin-bottom: 10px;
}

#divFooter {
  background: #23242a;
}

#articleCard {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: #1c1c1c;
  color: #f0f0f0;
  padding: 1rem;
  margin-bottom: 1rem;
}

#articleCard:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#loanCard {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: #1c1c1c;
  color: #f0f0f0;
  padding: 1rem;
  margin-bottom: 1rem;
}

#FondoPerfil {
  background-image: url("../images/bandera_Argentina.avif");
  object-fit: cover;
  height: 180px;
  background-position: center left;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.paddingIcon {
  padding: 0px;
  padding-top: 2px;
  background-color: #6c757d;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.paddingIcon:hover {
  background-color: #848484;
}

#iconPerfil {
  height: 50px;
  object-fit: contain;
  border-radius: 50px;
  vertical-align: top;
}

#imgPerfil {
  height: 130px;
  border-radius: 130px;
}

#detallesCuenta {
  color: #45f3ff;
}

.navbar {
  background-color: #1c1c1c;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #45f3ff;
}

#logoBank {
  height: 100px;
}

.card-text,
.card-title {
  padding: 1rem;
}

.btn {
  display: block;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 3;
}

#formulario {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: #1c1c1c;
  color: #f0f0f0;
  padding: 1rem;
  margin-top: 1rem;
}

#formulario:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#table {
  margin-top: 2rem;
  background-color: #1c1c1c;
  width: 100%;
}

#table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: #1c1c1c;
  color: #f0f0f0;
  margin-top: 1rem;
}

#table:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.tr,
th,
td {
  background-color: #1c1c1c;
}

.title-cell {
  text-align: center;
}

/* Ajustes adicionales */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles {
  flex: 1 1 45%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .articles {
    flex: 1 1 100%;
  }
}
main {
  padding: 20px;
}
/* Estilos para main */
main {
  padding: 20px;
}

/* Estilos para las columnas de main */
main .col-lg-6 {
  padding: 10px;
}

/* Ajuste adicional para pantallas pequeñas */
@media (max-width: 992px) {
  main .col-lg-6 {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

.no-underline {
  text-decoration: none;
}